.button {
  // background-color: red;
  border: none;
  border-radius: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  color: #111;
  background-color: #a8d5ba;
  box-shadow: 0 0 50px #c8afac;
  cursor: pointer;
}
