:root {
  —-app-height: 100%;
  --header-padding: 0;
  --blue-gradient: linear-gradient(
    344deg,
    rgba(15, 24, 61, 1) 0%,
    rgba(71, 74, 128, 1) 46%,
    rgba(43, 49, 94, 1) 62%,
    rgba(45, 50, 96, 1) 73%,
    rgba(15, 24, 61, 1) 100%
  );
  --orange-gradient: linear-gradient(
    -344deg,
    rgb(219, 78, 70) 0%,
    rgba(255, 207, 134, 1) 46%,
    rgb(219, 78, 70) 100%
  );
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: var(—-app-height);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
