.header {
  padding-top: var(—-header-padding);
  // width: 100%;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  z-index: 1;

  h1 {
    color: white;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.75rem;
    padding-top: 2rem;
    margin-right: 1rem;
  }

  nav {
    display: flex;
    gap: 3rem;
    color: white;
    font-size: 1.25rem;
  }
}
