.header {
  padding-top: var(—-header-padding);
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  z-index: 1;

  .heading {
    font-size: 1rem;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.75rem;
    padding-top: 2rem;
    margin-right: 1rem;
    @media (max-width: 719px) {
      display: none;
    }
  }

  nav {
    display: flex;
    gap: 3rem;
    color: white;
    font-size: 1.25rem;
    a {
      background-color: rgba(0, 0, 0, 0.1);
      padding-inline: 0.65rem;
      padding-block: 0.25rem;
      border-radius: 0.5rem;
    }
  }
}

.mobileNav {
  position: absolute;
  right: var(--menu-position);
  transition: right 350ms;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  gap: 1.25rem;
  border-top-left-radius: 1rem;
  height: 100vh;
  min-width: 95vw;
  margin-top: 1rem;
  backdrop-filter: blur(5px);
  font-size: 1.25rem;
}

.mobileNavContainer {
  @media (min-width: 720px) {
    display: none;
  }
}
