@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  min-height: 100vh;
  background: var(--blue-gradient);
  color: white;
  padding-top: 10rem;
  padding-left: 2rem;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mainHorizontal {
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.screen {
  padding-top: 10rem;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow-y: hidden;

  h1,
  h2 {
    color: white;
  }

  &:nth-of-type(even) {
    background: var(--orange-gradient);
  }

  &:nth-of-type(odd) {
    background: var(--blue-gradient);
  }
}

.heading {
  font-size: clamp(2rem, 3rem, 4rem);
  padding-bottom: 1rem;
}

.subHeading {
  margin-block-end: 1rem;
  transform: translateY(-1rem);
  font-weight: 100;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.hero {
  max-width: 24rem;
}

.social {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}
