.backgroundContainer {
  background: linear-gradient(
    344deg,
    rgba(15, 24, 61, 1) 0%,
    rgba(71, 74, 128, 1) 46%,
    rgba(43, 49, 94, 1) 62%,
    rgba(45, 50, 96, 1) 73%,
    rgba(15, 24, 61, 1) 100%
  );
}

.main {
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.screen {
  height: calc(100vh - 10rem);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow-y: hidden;
  h1,
  h2 {
    color: white;
  }
}

.heading {
  font-size: clamp(2rem, 3rem, 4rem);
  font-style: italic;
}

.subHeading {
  // color: white;
  margin-block-end: 1rem;
  transform: translateY(-1rem);
  font-weight: 100;
  margin-top: 1rem;
}

.hero {
  max-width: 24rem;
}

.social {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}
