@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  min-height: 100vh;
  background: var(--blue-gradient);
  color: white;
  padding-top: 10rem;
  padding-left: 2rem;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mainHorizontal {
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.screen {
  padding-top: 6rem;
  padding-inline: 6rem;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;

  h1,
  h2 {
    color: white;
    text-align: center;
  }

  h1 {
    // font-size: 8rem;
    background-color: rgba(0, 0, 0, 0.351);
    padding-block: 1rem;
    padding-inline: 2rem;
    grid-area: 1 / 1 / 2 / 2;
    place-self: center;
    transform: translateY(7rem);
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &:nth-of-type(even) {
    background: var(--orange-gradient);
    h2 {
      color: #333;
    }
  }

  &:nth-of-type(odd) {
    background: var(--blue-gradient);
  }
}

.heading {
  font-size: clamp(2rem, 8vw, 12rem);
}

.hero {
  border-radius: 0.25rem;
  max-width: 87vw;
  grid-area: 1 / 1 / 2 / 2;
}

.heroSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.eventsImage {
  max-width: 40vw;
}

.social {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}

.card {
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 1rem;
  background-color: #efefe8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  p {
    display: flex;
    flex-wrap: wrap;
  }
  // max-height: 80%;
  // overflow: hidden;
}
